/* Import Bootstrap CSS */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

body {
    background-color: #E84610 !important;
}

.main-content {
    background-color: #f8f9fa; /* Greyish white */
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}
.smaller-content {
    background-color: #ffffff; /* White */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .main-content {
        width: 100%;
        height: auto;
    }

    .smaller-content {
        padding: 5px;
    }
}